/*CSS da Portifólio*/
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.cabecalho1 .logo{
    font-size: 23px;
    font-weight: bold;
    color: #fff;
}
.cabecalho1 .menu{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cabecalho1 .menu-line{
    height: 3px;
    background-color: #333;
}

.container {
    display: flex;
    height: 100vh;
}
.container .leftside{
 background-color: #3b576d;
 flex: 1;
 display: flex;
 align-items: center;
 padding: 0px 20px;
}
.container .rightside{
    background-image: url('imagem01.jpg');
    background-size: cover;
    background-position: center top;
    flex: 1;
}
.container .info{
    color: #fff;
}
.container .info .profession{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 19px;
}
.container .info .name{
    font-weight: bold;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container .info .buttons a{
    display: inline-block;
    background-color: #fff;
    color: #3b576d;
    padding: 20px 40px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 10px #111;
    border-radius: 5px;
    margin-right: 10px;
}
.container .info .buttons a.light{
    color: #fff;
    background-color: #3b576d;
}
.container .info .buttons a:hover{
    opacity: 0.8;
}



footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #fff;
    font-size: 13px;
}
footer a{
    color: #fff;
}

@media (max-width: 800px){
    
    .cabecalho1{
        position: initial;
        background-color: #3b576d;
    }
    .cabecalho1 .menu-line{
        background-color: #fff;
    }
    .container{
        flex-direction: column;
        /*height: calc(100vh - 66px);*/
    }
    .container .leftside {
        flex: none;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
    }

    footer{
        position: initial;
        color: #333;
        font-size: 16px;
    }
    footer a{
        color: #333;
    }
}
@media (max-Width: 450px){
    .container .leftside .info .name{
        font-size: 50px;
    }
    .container .leftside .info .buttons a{
        display: block;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}
/*CSS do Mais sobre mim*/
/*Index2*/
.cabecalho{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding: 10px 20px 20px 145px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.cabecalho .logo{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.cabecalho .menu{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cabecalho .menu-line{
    height: 3px;
    background-color: #333;
}
.container2 {
    display: flex;
    height: 100vh;
}
.container2 .leftside{
 background-color: #3b576d;
 flex: 1;
 display: flex;
 align-items: center;
 padding: 0px 20px;
}
.container2 .rightside{
    background-image: url('imagem02.jpg');
    background-size: cover;
    background-position: center top;
    flex: 1;
}
.container2 .info{
    color: #fff;
}
.container2 .info .profession{
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.container2 .info .name{
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container2 .info .buttons{
    display: flex;
    justify-content: center;
}
.container2 .info .buttons a{
    display: inline-block;
    background-color: #fff;
    color: #3b576d;
    padding: 20px 40px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 10px #111;
    border-radius: 5px;
    margin-right: 10px;
}
.container2 .info .buttons a.light{
    color: #fff;
    background-color: #3b576d;

    
}
.container2 .info .buttons a:hover{
    opacity: 0.8;
}

.rodape{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #fff;
    font-size: 13px;
}
.rodape a{
    color: #fff;
}

@media (max-width: 1000px){
    .cabecalho{
        display: flex;
        position: initial;
        background-color: #3b576d;
        color: #fff;
        justify-content: center;
        padding: 0px;
    }
    .container2{
        flex-direction: column;
    }

    .rodape{
    position: initial;
    color: #333;
    font-size: 16px;
    }
    .rodape a{
        color: #333;
    }
}
@media (max-Width: 750px){
    .cabecalho .logo{
        font-size: 40px;
    }
    .container2 .info .profession{
        font-size: 15px;
    }

}
